<div class="container">
  <div class="jumbotron">Assignation de tâches V0.01</div>
  <div class="containerAssigneTache" *ngIf="tacheToAssigne">
    <table class="table">
      <tr>
        <th>Prenom</th>
        <th>Nom</th>
      </tr>
      <tr *ngFor="let user of Users">
        <th>{{user.prenom}}</th>
        <th>{{user.prenom}}</th>
        <th><a class="btn btn-primary" href="#" role="button">Assigner taches</a></th>
      </tr>
    </table>
  </div>


  <div>






  </div>










</div>




