.containerAssigneTache{
  position: absolute;
  position: -webkit-sticky;
  top: 15%;
  left: 50%;
  width: 400px;
  margin-right: -200px;
  margin-left: -200px;
  background-color: aqua;
}

.table{
  border-style: solid;
  border-color: black;
  text-align: left;
}

.jumbotron{
  text-align: center;
  font-size: xxx-large;
}

.btnColor{
  background-color: black;
  outline: black;
}
.btn {
  outline: none;
  box-shadow: none;
}


.ajouterTache{
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: floralwhite;
  padding: 2%;

  font-size: small;
  border-style: solid;
  border-color: black;
  text-align: left;
}

.btnQuit{
  top:2%;
  right: -10%;
  z-index: 99999;
}

.containerEdit{
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: floralwhite;
  padding: 2%;

  font-size: small;
  border-style: solid;
  border-color: black;
  text-align: left;

}
